/*footer {
	position: fixed;
	width: 100%;
	background: #666;
	text-align: center;
	color: lightgray;
	font-size: 10px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	bottom: 0px;
	padding: 20px;
}

.size {
	height: 50px;
	width: 50px;
}
@media screen and (max-width: 640px) {


	.navbar-header {
	background-color: #4aaaa5;
	}
}*/